#Abdominals {
  height: 250px;
  width: 110px;
  background-color: red;
  position: absolute;
  left: 657px;
  top: 300px;
  opacity: 0;
  border-radius: 50px;
}


#Abdominals:hover {
  opacity: .6
}

#abdominals-text {
  position: absolute;
}
#Right-Arm {

  height: 400px;
  width: 60px;
  background-color: red;
  position: absolute;
  top: 153px;
  right: 300px;
  -webkit-transform: rotate(-8deg);
  opacity: 0;
  border-radius: 50px;
}

#Right-Arm:hover {
  opacity: .6
}

#Left-Arm {

  height: 400px;
  width: 60px;
  background-color: red;
  position: absolute;
  top: 152px;
  left: 525px;
  -webkit-transform: rotate(9deg);
  opacity: 0;
  border-radius: 50px;
}

#Left-Arm:hover {
  opacity: .6
}




.arm-image {
display: block;
margin: 0 auto;
height: 680px;
}

#Shoulder {
  height: 110px;
  width: 100px;
  border-radius: 40px;
  position: absolute;
  opacity: 0;
  background-color: red;
  left: 680px;
  top: 180px;
}

#Shoulder:hover {
  opacity: .6;
}


#Bicep {
height: 120px;
width: 36px;
position: absolute;
background-color: red;
top: 280px;
right: 666px;
border-radius: 65px;
opacity: 0;

}

#Bicep:hover {
opacity: .6;

}



#Tricep {
height: 158px;
width: 33px;
background-color: red;
position: absolute;
left: 680px;
top: 240px;
border-radius: 40px;
opacity: 0;

}

#Tricep:hover {
opacity: .6;

}



#Forearm {
height: 180px;
width: 60px;
background-color: red;
position: absolute;
top: 380px;
left: 700px;
border-radius: 40px;
opacity: 0;

}

#Forearm:hover {
opacity: .6;

}

img {
  position: relative;
  height: 640px;
  display: block;
  margin: 0 auto;

}


#bodypart-text {
  display: hide;
  position: absolute;

}

#Left-Chest {
  height: 120px;
  width: 95px;
  background-color: red;
  opacity: 0;
  position: absolute;
  top: 170px;
  /*left: 42.5%;*/
  border-radius: 50px;
}



#Left-Chest:hover {
  opacity: .6;


}

#Right-Chest {
  height: 120px;
  width: 96px;
  background-color: red;
  opacity: 0;
  position: absolute;
  top: 170px;
  /*right: 617px;*/
  border-radius: 50px;

}

#Right-Chest:hover {
  opacity: .6;


}






#Right-Glute {
  height: 131px;
  width: 95px;
  background-color: red;
  opacity: 0;
  position: absolute;
  bottom: 120px;
  right: 740px;
  border-radius: 50px;
}

#Right-Glute:hover {
  opacity: .6
}

#Left-Glute {
  height: 131px;
  width: 95px;
  background-color: red;
  opacity: 0;
  position: absolute;
  bottom: 120px;
  right: 718px;
  border-radius: 50px;
}

#Left-Glute:hover {
  opacity: .6
}
#Left-Lat {
  height: 129px;
  width: 65px;
  border-radius: 20px;
  background-color: red;
  position: absolute;
  left: 624px;
  top: 320px;
  -webkit-transform: rotate(-17deg);
  opacity: 0;
}

#Left-Lat:hover {
  opacity: .6;
}



#Right-Lat {
  height: 129px;
  width: 65px;
  border-radius: 20px;
  background-color: red;
  position: absolute;
  right: 611px;
  top: 320px;
  -webkit-transform: rotate(13deg);
  opacity: 0;
}

#Right-Lat:hover {
  opacity: .6;
}


#Lower-Back {
  height: 100px;
  width: 100px;
  position: absolute;
  bottom: 241px;
  right: 659px;
  background-color: red;
  opacity: 0;
  border-radius: 41px;
}

#Lower-Back:hover {
  opacity: .6;

}

#Rhomboids {
  width: 0;
  height: 0;
  border-left: 76px solid transparent;
  border-right: 70px solid transparent;
  border-top: 133px solid red;
  position: absolute;
  top: 290px;
  left: 650px;
  border-radius: 20px;
  opacity: 0;

}

#Rhomboids:hover {
  opacity: .6;

}

#Trapezius {
  height: 50px;
  width: 160px;
  opacity: 0;
  background-color: red;
  position: absolute;
  top: 230px;
  right: 640px;
  border-radius: 30px;

}

#Trapezius:hover {
  opacity: .6;
}

#Left-Leg {

  height: 159px;
  width: 117px;
  background-color: red;
  position: absolute;
  top: 540px;
  left: 579px;
  opacity: 0;
  border-radius: 100px
}

#Left-Leg:hover {
  opacity: .6
}

#Right-Leg {

  height: 159px;
  width: 104px;
  background-color: red;
  position: absolute;
  top: 540px;
  right: 594px;
  opacity: 0;
  border-radius: 100px;
}

#Right-Leg:hover {
  opacity: .6
}

#leg-text {
  position: absolute;

}

.front-leg-image {
  display: block;
  margin: 0 auto;
}

#Quad {

  height: 239px;
  width: 93px;
  background-color: red;
  position: absolute;
  top: 168px;
  left: 674px;
  border-radius: 90px;
  opacity: 0;
  -webkit-transform: rotate(-7deg);
}

#Quad:hover {
  opacity: .6;
}

#Tibialis {
height: 193px;
width: 49px;
background-color: red;
position: absolute;
bottom: 118px;
left: 713px;
border-radius: 50px;
opacity: 0;
-webkit-transform: rotate(-5deg);

}

#Tibialis:hover {
  opacity: .6;
}

#Hamstring {

  height: 300px;
width: 100px;
border-radius: 50px;
background-color: red;
opacity: 0;
position: absolute;
top: 90px;
left: 669px;
-webkit-transform: rotate(3deg);
}

#Calve {

  height: 230px;
width: 50px;
border-radius: 50px;
background-color: red;
opacity: 0;
position: absolute;
bottom: 122px;
left: 687px;
-webkit-transform: rotate(1deg);
}

#Calve:hover {
  opacity: .6;
}

#Hamstring:hover {
  opacity: .6
}



#rear-leg-text {
  display: block;
  margin: 0 auto;
}


#rear-leg-text:hover {
  cursor: pointer;

}

.rear-leg-image {
  display: block;
  margin: 0 auto;

}
#videoContainer {
  display: block;
}

iframe {
  text-align: center;
  display: block;
  transition: .5s all;
  margin: 0 auto;
  margin-bottom: 10px;
}

iframe:hover {
  height: 315px;
  width: 460px;
}


/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */


body {
  background-image: url("cage_background.jpg") ;
  /*background-repeat: none;*/
  /*background-repeat: no-repeat;*/
  /*background-size: cover;*/
  /*margin: 0px;*/

}

#logo {
  font-family: 'Frijole', cursive;
  color: white;
  text-align: center;
  font-size: 45px;
  margin: 0;
}

#rear-torso-text {
  cursor: pointer;
  margin: 0 auto;
  display: block;

}

.rear {
  font-family: 'Frijole', cursive;
  color: white;
  font-size: 45px;
  text-align: center;

}


.rear-torso-image {
  display: block;
  margin: 0 auto;
  /*top: 100px;*/
  /*right: 470px;*/

}

#bodypart-text {
  font-family: 'Frijole', cursive;
  color: white;
  z-index: 1;
}

#banner {
  height: 96px;
  width: 1425px;
  background-color: black;
  opacity: .3;
  z-index: -2;
  position: absolute;
  top: 0px;

}

.links {
  color: white;
  text-decoration: none;
  text-align: center;
  display: block;
  margin: 10 px;
  font-size: 20px;
  font-family: 'Frijole', cursive;
}

#sign-up-form {
  color: white;
  font-size: 14px;
  font-family: 'Frijole', cursive;
  margin-left: 30px;
  margin-top: 60px;
}

#login-form {
  color: white;
  font-size: 14px;
  font-family: 'Frijole', cursive;
  margin-left: 30px;
  margin-top: 30px ;

}

#logout {
  text-align: left;
  position: absolute;
  left: 10px;
}

#home {
text-align: right;
position: absolute;
right: 10px;

}

#footer {
  height: 75px;
  width: 1425px;
  background-color: black;
  opacity: .3;
  z-index: -2;
  position: absolute;
  bottom: 0px;

}


#info {
  height: 400px;
  width: 400px;
  /*position: absolute;*/
  background-color: black;
  opacity: .6;
  /*top: 170px;*/
  /*left: 40px;*/
  border: 10px dotted white;
  border-radius: 10px;
  padding: 10px;
  float: left;

}


#contactinfo {
  height: 400px;
  width: 400px;
  /*position: absolute;*/
  background-color: black;
  opacity: .6;
  /*top: 170px;*/
  /*right: 40px;*/
  border: 10px dotted white;
  border-radius: 10px;
  padding: 10px;
  float: right;

}

#form-container {
  height: 400px;
  width: 400px;
  background-color: black;
  box-shadow: 10px;
  margin: 0 auto;
  margin-top: 100px;
  display: block;
  border: 4px solid white;
  border-radius: 120px;

}


.flash {
  background-color: white;

}
