<h1 id="chest-text"> Chest </h1>
<!-- <h1 id="shoulder-text"> Shoulder </h1> -->
<h1 id="abdominals-text"> Abdominals </h1>
<h1 id="arm-text"> Arm </h1>
<h1 id="leg-text"> Leg </h1>
<img class="torso" src="http://i57.tinypic.com/2mozb48.png">
<img class="arm-image" src="http://i61.tinypic.com/2aktxh.png">
  <!-- <img class="rear-torso" src="http://i62.tinypic.com/ancxl2.png"> -->
  <div id="chest-left">
  </div>


  <div id="chest-right">
  </div>



  <!-- Shoulder Divs  -->
  <<!-- div id="shoulder-left">
  </div>

  <div id="shoulder-right">
  </div> -->

  <div id="abdominals">
  </div>

  <div id="right-arm">
  </div>



  <div id="left-arm">
  </div>

  <div id="left-leg">
  </div>

  <div id="right-leg">
  </div>

  <div id="bicep">
  </div>

