#Abdominals {
  /*height: 250px;*/
  /*width: 110px;*/
  /*background-color: black;*/
  position: absolute;
  left: 657px;
  top: 300px;
  opacity: .7;
  border-radius: 50px;
}


#Abdominals:hover {
  cursor: pointer;
  opacity: 1;

}

#abdominals-text {
  position: absolute;
}
