#Right-Arm {

  height: 400px;
  width: 60px;
  background-color: red;
  position: absolute;
  top: 110px;
  left: 842px;
  -webkit-transform: rotate(-8deg);
  opacity: 0;
  border-radius: 50px;
}

#Right-Arm:hover {
  opacity: .6
}

#Left-Arm {

  height: 400px;
  width: 60px;
  background-color: red;
  position: absolute;
  top: 99px;
  left: 515px;
  -webkit-transform: rotate(9deg);
  opacity: 0;
  border-radius: 50px;
}

#Left-Arm:hover {
  opacity: .6
}

#arm-text {
  position: absolute;
}


.arm-image {
  position: absolute;
  top: 0px;
  right: 400px;

}

#Bicep {
height: 120px;
width: 36px;
position: absolute;
background-color: red;
top: 170px;
right: 666px;
border-radius: 65px;
opacity: 0;

}

#Bicep:hover {
opacity: .6;

}

#bicep-text {
  position: absolute;

}


#Tricep {
height: 158px;
width: 33px;
background-color: red;
position: absolute;
left: 680px;
top: 160px;
border-radius: 40px;
opacity: 0;

}

#Tricep:hover {
opacity: .6;

}

#tricep-text {
  position: absolute;

}

#Forearm {
height: 180px;
width: 60px;
background-color: red;
position: absolute;
top: 290px;
left: 700px;
border-radius: 40px;
opacity: 0;

}

#Forearm:hover {
opacity: .6;

}

#forearm-text {
  position: absolute;

}
