img {
  position: relative;
  height: 640px;
  display: block;
  margin: 0 auto;

}


#bodypart-text {
  display: hide;
  position: absolute;

}

#Left-Chest {
  height: 120px;
  width: 95px;
  background-color: red;
  opacity: 0;
  position: absolute;
  top: 117px;
  left: 611px;
  border-radius: 50px;
}

#Left-Chest:hover {
  opacity: .6;


}

#Right-Chest {
  height: 120px;
  width: 96px;
  background-color: red;
  opacity: 0;
  position: absolute;
  top: 114px;
  right: 617px;
  border-radius: 50px;

}

#Right-Chest:hover {
  opacity: .6;


}

h1#chest-text {

  position: absolute;
}






