#Right-Glute {
  opacity: .7;
  position: absolute;
  bottom: 120px;
  right: 740px;
  border-radius: 50px;
}

#Right-Glute:hover {
  opacity: 1;
  cursor: pointer;
}

#Left-Glute {
  opacity: .7;
  position: absolute;
  bottom: 120px;
  right: 718px;
  border-radius: 50px;
}

#Left-Glute:hover {
  opacity: 1;
  cursor: pointer;
}
