#Right-Glute {
  /*height: 131px;*/
  /*width: 95px;*/
  background-color: red;
  opacity: .7;
  position: absolute;
  bottom: 120px;
  right: 740px;
  border-radius: 50px;
}

#Right-Glute:hover {
  opacity: 1;
}

#Left-Glute {
  /*height: 131px;*/
  /*width: 95px;*/
  background-color: red;
  opacity: .7;
  position: absolute;
  bottom: 120px;
  right: 718px;
  border-radius: 50px;
}

#Left-Glute:hover {
  opacity: 1;
}
